{% extends "layout/base.html" %}

{% block title %}
 Export to server
{% endblock %}



{% block content %}
    <div class="container">
        <h2>Export</h2>
        <div style="center">
        <table style="width:50%">
            <tr>
                <th>Table</th>
                <th>Logs</th> 
                <th>Exported</th>
                <th>% Exported</th>
           </tr>
  <tr>
    <td>Temperature</td>
        {% set totalTemp= TempLog.query.count() %}
    <td>{{totalTemp}}</td> 
        {% set exportedTemp = TempLog.query.filter(TempLog.exported.isnot(None)).count() %}
    <td>{{ exportedTemp }}</td>
    <td>{{exportedTemp/totalTemp}}</td>
    <td> <button id="btnTemperature" type="button"> update </button> </td> 
  </tr>
  <tr>
    <td>Humidity</td>
        {% set totalHum= HumidityLog.query.count() %}
    <td>{{totalHum}}</td> 
        {% set exportedHum = HumidityLog.query.filter(HumidityLog.exported.isnot(None)).count() %}
    <td>{{ exportedHum }}</td>
    <td>{{exportedHum/totalHum}}</td>
    <td> <button id="btnHumudity"type="button"> update </button> </td> 
  </tr>
  <td>Pressure</td>
        {% set totalPress= PressureLog.query.count() %}
    <td>{{totalPress}}</td> 
        {% set exportedPress = PressureLog.query.filter(PressureLog.exported.isnot(None)).count() %}
    <td>{{ exportedPress }}</td>
    <td>{{exportedPress/totalPress}}</td>
    <td> <button id="btnPressure" type="button"> update </button> </td> 
  </tr>
      
</table>
  </div>      
    </div>

{% endblock %}
{% block scripts %}
    {{super() }}
    <script src="{{ url_for('static', filename='js/hswebapp_export.js') }}"></script>
{% endblock %}
