{% extends "layout.html" %}
{% block content %}
{% block title %}
{% endblock %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Raspberry Project</h1>
        <h2>Sensors:</h1>
        
        
        <ol>
            <li>Temperature</li>
            <li>Humidity</li>
            <li>Pressure</li>
            <li>Air Quality </li>
        </ol>

        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
{% endblock %}